[submodule "genomic_library/utils"]
	path = genomic_library/utils
	url = git@github.com:Shapedsundew9/utils.git
[submodule "egp_genomic_library/utils"]
	path = egp_genomic_library/utils
	url = git@github.com:Shapedsundew9/utils.git
